html {
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Enriqueta', serif;*/
  min-width: 350px;

}

body {
  min-width: 350px;
}

a:visited {
  color: #384455;
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fafafa;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 12;
  box-shadow: 10px 2px 60px 0 rgba(0, 0, 0, 0.16);
}

header > a {
  color: #384455;
  padding-left: 20px;
  text-decoration: none;
  font-weight: 400;
}
header > a:visited {
  color: #384455;
}
div.line-cont {
  display: flex;
  justify-content: center;
  height: 1px;
  background-color: #ffffff;
}
div.line {
  margin-bottom: 13px;
  background-color: rgba(204, 204, 204, 0.5);
  bottom: 5px;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  width: 200px;;
}

div.about-top {
  width: 100%;
  min-height: 200px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  box-sizing: border-box;

}

div.about-top-cont {
  /*padding: 50px;*/
  width: 850px;
  min-height: 200px;
  background-color: #ffffff;
  color: #384455;
  text-align: center;
}

h1 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 400;
}

p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  font-weight: 200;
}


#works::before {
  margin-bottom: 15px;
  background-color: rgba(204, 204, 204, 0.5);;
  bottom: 5px;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  width: 850px;
  align-self: center;
}

div#works {
  display: flex;
  justify-content: center;
}

div.works-cont {
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
  padding-bottom: 50px;
  min-height: 283.33px;
  background-color: #ffffff; 
}

div.row {
  width: 850px;
  display: flex;
  align-self: center;
}

div.box {
  -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 2px;
    height: 283.33px;
    background-color: #ffffff; 
    width: auto;
}

.img {
  background-color: white;
  box-sizing: border-box;
  /*filter: saturate(0.4) brightness(90%);*/
  transition: filter 500ms ease-in-out;
}

.img:hover {
  filter: saturate(1) brightness(100%);
  cursor: pointer;
}

img.pr-img {
  width: 260px;
  height: 260px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 500ms ease-in-out;
}

img.pr-img:hover {
  box-shadow: none;
}

div.first:hover img.pr-img {
  box-shadow: none;
}

#second {
  background-color: lightgrey;
  box-sizing: border-box;
}

#second > a > img {
  height: 100%
}

#third {
  background-color: orange;
  box-sizing: border-box;
}

div.row-text {
  width: 850px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
  /*background-color: #ffffff;*/
}

div.text-box {
  width: 33.33333333333%;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 200;
  margin-left: 2px;
}

h4 {
  font-weight: 200;
  line-height: 1.3;
}

div.text-box > a {
  color: white;
}
div.resume > a {
  color: #6d6d6d;
}

div.resume-cont {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-bottom: 30px;
  background-color: #ffffff
}

div.resume {
  width: 850px;
  height: inherit;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 33px;
  font-weight: 500;
  color: #9097a2;
}

div.txt > a > h2::after {
  margin-top: 14px;
  background-color: rgba(204, 204, 204, 0.5);;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  width: 95%;
}

div.skills-cont {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 30px;
  margin-top: 20px;
}

div.skills {
  display: flex;
  color: #6d6d6d;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  width: 850px;
}

div.skills > ul {
  display: flex;
  margin-right: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

div.skills > ul > li {
  padding-left: 25px;
  text-align: center;
  height: 80px;
}

.redux {
  height: 35px;
  margin-top: 12px;
  margin-bottom: 14px;
}

[class*=" devicon-"], [class^=devicon-] {
  line-height: 1.8;
  font-size: 35px;
}

div.contact-cont {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #6d6d6d;
  padding-bottom: 100px;
}

div.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.contact > ul {
  display: flex;
  text-align: center;
  margin-right: 25px;
  margin-bottom: 20px;
}

div.contact > ul > li {
  padding-left: 25px;
}

img.linkedin {
  margin-top: 16px;
  height: 32px;
  margin-bottom: 12px;
  filter: brightness(0.45);
}

div.contact > ul > li > a {
  color: #6d6d6d;
}

div.photo-cont {
  height: 220px;
    width: 100%;
    background-color: #ffffff;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

div.photo {
  height: 198px;
  width: 200px;
  background: url(https://s3.us-east-2.amazonaws.com/clone-app-dev/photo.jpg);
  border-radius: 50%;
  background-size: contain;
}

div.email-me {
  text-align: center;
}
div.email-me a:visited {
  color: #6d6d6d;
}
div.email-me a {
  color: #6d6d6d;
  text-decoration: underline;
}
/*__________________new_projects_______________________*/

div.projects {
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
  background-color: #ffffff;
  padding-bottom: 30
}

div.row {
  /*background-color: #c7ced6;*/
  height: 300px;
  margin-top: 10px;
}

div.first {
  height: 300px;
}
div.first {
  /*transition: filter 500ms ease-in-out;*/
  transition: box-shadow 500ms ease-in-out;
  border: none;
  z-index: 1;
}

div.first:hover {
  z-index: 10;
  /*filter: drop-shadow(16px 16px 30px rgba(0,0,0,0.1));*/
  box-shadow: 64px 64px 73px 0 rgba(0, 0, 0, 0.12);
}

div.row  div.img {
  overflow: hidden;
  width: 300px;
  height: 300px;
  float: left;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #fafafa;*/
}

div.txt {
  margin-left: 300px;
  padding: 20px;
  height: inherit;
  box-sizing: border-box;
  text-align: left;
  color: #384455;
  position: relative;
  background-color: #fafafa;
}
h6 {
  margin-top: 15px;
  line-height: 1.3;
  font-size: 18px;
  color: #636e7f;
}

div.git {
  color: #636e7f;
  position: absolute;
  bottom: 20px;
}
div.projects  a {
  color: #384455;
}
div.git > a {
  color: #384455;
  text-decoration: underline;
}



@media screen and (max-width: 900px) {

    body {
      min-width: 350px;
    }

    div.row {
      flex-direction: column;
      justify-content: center;
      height: 600px;
      width: 100%
    }

    div.first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 600px;
    }

    div.txt {
      margin-left: 0;
      width: 80%;
    }

    div.first > a {
      display: flex;
      justify-content: center;
      height: inherit;
    }

    p {
      font-size: 18px;
      padding: 0px 20px 20px 20px;
    }
}

@media screen {
  body {
    min-width: 350px;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 767px) {
  body {
    min-width: 350px;
  }

  div.row {
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 100%
  }

  div.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
  }

  div.txt {
    margin-left: 0;
    width: 80%;
  }

  div.first > a {
    display: flex;
    justify-content: center;
    height: inherit;
  }

  p {
    font-size: 18px;
    padding: 0px 20px 20px 20px;
  }
}
